name = "license-agreements-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[vars]
ENVIRONMENT = "production"

[[d1_databases]]
binding = "DB"
database_name = "license-agreements-db"
database_id = "737541bb-368f-4cbd-bf96-f8f6b1e7169a"
migrations_dir = "src/db/migrations"
